form {
    margin: 0px auto !important;
    width: 300px !important;
}
Button, Input {
    margin-top: 20px !important;
}
.flexOut {
    display: inline-block;
}

.MuiAppBar-colorPrimary {
    background-color: #435e7c !important;
}
.AppBarButton {
    float: right !important;
    position: absolute;
    right: 0px;
    top: -10px;
    padding: 4px 20px;
}
.AppBarButton Button {
    margin-right: 20px;
    font-variant: normal !important;
    text-transform: none;
}
Button.btn-success {
    background-color: #2ba748;
}
.dataTable {
    max-width: 100%;
    height: 370px;
}
.dreact {
    color: red;
    height:30px;
}
